<div class="full">
  <div class="container out">
    <div class="container-in gradient-background">
      <h1 class="tit primary-text">Login / Signup</h1>
      <form id="authForm" action="#" method="POST">
        <label for="username" class="primary-text">Username</label><br />
        <input type="text" value="a" id="username" name="username" class="input-field"><br><br>
        <label for="password" class="primary-text">Password</label><br />
        <input type="password" value="a" id="password" name="password" class="input-field"><br><br>
        <div class="btns">
          <button type="button" onclick="submitForm('signup')" class="button">Signup</button>
          <button type="button" onclick="submitForm('login')" class="button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
