body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  background: url('./assets/vms.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
